body {
    background-color: black;
}

.card {
    width: 300px;
    margin-top: 25px;
    background-color: black;
}

.card-text {
    font-weight: bold;
    font-size: 48px;
    color: palevioletred;
}